

<div id="wrapper" style="width: 100%; background-color: white;">
    <div class="d-flex flex-column" id="content-wrapper" style="width: 100%; background-color: white; margin-bottom: 0px; padding-bottom: 0;">
        <div style="width: 100%; background-color: white; margin-bottom: 0px; padding-bottom: 0;">
            <nav class="navbar navbar-expand-lg navbar-light bg-white">
                <img src="https://static.thenounproject.com/png/168659-200.png" alt="Bandeira Itaquaquecetuba" style="width:50px;height:50px; padding-bottom: 0;">
                <div class="text-uppercase font-weight-bold text-lg" style="margin-left: 0.5cm;"><span>MAPA DA VIOLÊNCIA DO ESTADO DE SÃO PAULO</span></div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 50px;">
                  <ul class="navbar-nav ml-auto order-3">
                    <li class="nav-item">
                      <a class="nav-link text-lg" style="border-right:solid 1px #D3D3D3;" href="#">INÍCIO </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-lg" style="border-right:solid 1px #D3D3D3	;" (click)="irParaScore()">O SCORE DE VIOLÊNCIA</a>
                    </li>
                  </ul>
                </div>
              </nav>
    </div>
<div style="margin-bottom: 50px; margin-right: 130px; margin-left:130px; align-content: center;">
    <div style="margin-top: 50px; align-content: center;">
      <h5 class="text-center text-dark  h8 m-0">
        <p><b>O Score de Violência</b></p>

     <br>
     <p>O Score de Violência foi criado com o objetivo de facilitar a identificação de regiões mais violentas, utilizando o código penal para fazer a definição de crimes mais graves ou menos graves. Utilizamos como critério para definir o impacto de cada indicador no score de violência a pena média prevista no Código Penal. Dessa forma, foi possível calcular o score multiplicando a incidência do crime a cada 100 mil habitantes pelo coeficiente normalizado para cada tipo de crime.</p>
        
    </h5>
  </div>
  </div>
</div>
</div>