<router-outlet></router-outlet>

<div id="wrapper" style="background-color: white;">
  <div class="d-flex flex-column" id="content-wrapper" style="background-color: white;">
      <div id="content"> 
        <nav class="navbar shadow navbar-expand-lg navbar-light bg-white" style="margin-bottom: 50px;">
          <img src="https://static.thenounproject.com/png/168659-200.png" alt="Bandeira Itaquaquecetuba" style="width:50px;height:50px; padding-bottom: 0;">
          <div class="text-uppercase font-weight-bold text-lg" style="margin-left: 0.5cm;"><span>MAPA DA VIOLÊNCIA DO ESTADO DE SÃO PAULO</span></div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 50px;">
            <ul class="navbar-nav ml-auto order-3">
              <li class="nav-item">
                <a class="nav-link text-lg" style="border-right:solid 1px #D3D3D3;" href="#">INÍCIO </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-lg" style="border-right:solid 1px #D3D3D3	;" (click)="irParaScore()">O SCORE DE VIOLÊNCIA</a>
              </li>
            </ul>
          </div>
        </nav>
      <div>
    </div>
      <div class="container-fluid" style="padding-right: 0px;">
        <form>
          <div class="d-sm-flex justify-content-center align-items-center mb-8">
              <h3 class="text-dark mb-2 text-uppercase" styles="align-items-center">{{dadosDemograficos.nome}}</h3></div>
              <hr>         
              <div class="row" style="margin-top:20px;">
              <div class="col">
                  <div class="card border-left-primary py-2">
                      <div class="card-body">
                          <div class="row align-items-center no-gutters">
                              <div class="col mr-2">
                                <div class="text-uppercase font-weight-bold text-primary h6"><span>{{indicadorPrincipal[0].indicador_Formatado}}</span></div>
                                <div class="text-uppercase text-dark h12"><span>{{indicadorPrincipal[0].total}} CASOS ({{indicadorPrincipal[1].por100Mil | number:'1.2-2' }} POR 100 MIL HABITANTES)</span></div>
                                <div class="text-uppercase text-dark h12"><span>{{indicadorPrincipal[0].ranking}}º LUGAR ENTRE 645 MUNICÍPIOS</span></div>

                            </div>
                            <button mat-mini-fab color="primary" style="color: white;" aria-label="Example icon button with a menu icon" (click)="abrirDica(indicadorPrincipal[0].id_Indicador)">
                              <div> <img src="https://cdn2.iconfinder.com/data/icons/weby-interface-vol-1-1/512/s_warning-caution-exclamation-alert-attention-error-rounded-512.png" alt="Bandeira Itaquaquecetuba" style="width:30px;height:30px;">
                              </div>
                            </button>
                        </div>
                      </div>
                  </div>
              </div>
              <div class="col">
                  <div class="card border-left-primary py-2">
                      <div class="card-body">
                          <div class="row align-items-center no-gutters">
                              <div class="col mr-2">
                                  <div class="text-uppercase text-primary font-weight-bold h6"><span>{{indicadorPrincipal[1].indicador_Formatado}}</span></div>
                                  <div class="text-uppercase  text-dark h12"><span>{{indicadorPrincipal[1].total}} CASOS ({{indicadorPrincipal[1].por100Mil | number:'1.2-2' }} POR 100 MIL HABITANTES)</span></div>
                                  <div class="text-uppercase text-dark h12"><span>{{indicadorPrincipal[1].ranking}}º LUGAR ENTRE 645 MUNICÍPIOS</span></div>
  
                              </div>
                              <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" (click)="abrirDica(indicadorPrincipal[1].id_Indicador)">
                                <div> <img src="https://cdn2.iconfinder.com/data/icons/weby-interface-vol-1-1/512/s_warning-caution-exclamation-alert-attention-error-rounded-512.png" alt="Bandeira Itaquaquecetuba" style="width:30px;height:30px;">
                                </div>
                              </button>
                            </div>
                      </div>
                  </div>
              </div>
              <div class="col">
                  <div class="card border-left-primary py-2" style="margin-right:20px;">
                      <div class="card-body">
                          <div class="row align-items-center no-gutters">
                              <div class="col mr-2">
                                <div class="text-uppercase text-primary font-weight-bold h6"><span>{{indicadorPrincipal[2].indicador_Formatado}}</span></div>
                                <div class="text-uppercase text-dark h12"><span>{{indicadorPrincipal[2].total}} CASOS ({{indicadorPrincipal[2].por100Mil | number:'1.2-2' }} POR 100 MIL HABITANTES)</span></div>
                                <div class="text-uppercase text-dark h12"><span>{{indicadorPrincipal[2].ranking}}º LUGAR ENTRE 645 MUNICÍPIOS</span></div>

                            </div>
                            <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" (click)="abrirDica(indicadorPrincipal[2].id_Indicador)">
                              <div> <img src="https://cdn2.iconfinder.com/data/icons/weby-interface-vol-1-1/512/s_warning-caution-exclamation-alert-attention-error-rounded-512.png" alt="Bandeira Itaquaquecetuba" style="width:30px;height:30px;">
                              </div>
                            </button>
                      </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row" style="margin-right: 10px;">
            <div class="col-lg-7 col-xl-8" style="margin-top:20px;">
                <div class="card mb-4">
                    <div class="card-header bg-transparent">
                        <div class="row align-items-center">
                          <div class="col">
                            <h2 class="text-primary font-weight-bold h5 m-0">{{indicador_txt}} ( {{ano_inicio_txt}} a {{ano_fim_txt}} )</h2>
                        </div>
                      </div>
                          <div class="row align-items-center">
                        <div class="alt">
                            <mat-form-field  style="margin-right: 25px; margin-top: 5px;">
                                <mat-label>Indicador</mat-label>
                                <mat-select min-width="0px;"  (selectionChange)="alterarIndicador($event.value)" [(value)]="id_indicador">
                                  <mat-option *ngFor="let i of indicadores" [value]="i.id">
                                    {{i.indicador_formatado}}
                                  </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field  style="margin-right: 25px; margin-top: 5px;">
                                <mat-label>Ano Inicial</mat-label>
                                <mat-select min-width="0px;"  (selectionChange)="alterarAnoInicio($event.value)" [(value)]="ano_inicio">
                                  <mat-option *ngFor="let ano of anos" [value]="ano">
                                    {{ano}}
                                  </mat-option>
                                </mat-select>
                            </mat-form-field>
                            A
                            <mat-form-field style="margin-right: 25px; margin-left: 25px; margin-top: 5px;">
                            <mat-label>Ano Final</mat-label>
                            <mat-select min-width="0px;"  (selectionChange)="alterarAnoFim($event.value)" [(value)]="ano_fim">
                              <mat-option *ngFor="let ano of anos" [value]="ano">
                                {{ano}}
                              </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <a class="btn btn-primary btn-sm" style="margin-left: 10px; color:white" role="button" (click)="buscarDadosMapa()">BUSCAR</a>
                      </div>
                        </div>
                        
                      </div>                            
                      <div class="card-body">
                        <div>
                          <app-chart [arrayIV]="dadosGrafico"></app-chart>
                        </div>
                    </div>
            </div>
                      <div class="card mb-4">
                        <div class="card-header bg-transparent">
                            <div class="row align-items-center">
                              <div class="col">
                                <h2 class="text-dark font-weight-bold h5 m-0"> BASE DE DADOS</h2>
                            </div>
                            <div class="alt">
                                <a class="btn btn-primary btn-sm" (click)="downloadCSV()" style="margin-left: 10px; color:white" role="button">EXPORTAR DADOS DETALHADOS</a>
                          </div>
                            </div>
                            
                          </div>                            
                          <div class="card-body">
                            <div class="row" style="margin-top: none;">
                                <table class="t1" mat-table [dataSource]="dataSource" matSort >
  
                                  <!-- Position Column -->
                                  <ng-container matColumnDef="pos">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>INDICADOR</th>
                                    <td mat-cell *matCellDef="let element"> {{element.indicador_Formatado}} </td>
                                  </ng-container>
                              
                                  <!-- Name Column -->
                                  <ng-container matColumnDef="municipio">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ANO </th>
                                    <td mat-cell *matCellDef="let element"> {{element.ano}} </td>
                                  </ng-container>
                              
                                  <!-- Weight Column -->
                                  <ng-container matColumnDef="valor">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> TOTAL </th>
                                    <td mat-cell *matCellDef="let element"> {{element.total}} </td>
                                  </ng-container>
  
                                  <ng-container matColumnDef="quantidade">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> OCORRÊNCIAS POR 100 HABITANTES</th>
                                    <td mat-cell *matCellDef="let element">{{element.por100Mil | number:'1.2-2' }}</td>
                                  </ng-container>

                                  <ng-container matColumnDef="janeiro">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> RANKING</th>
                                    <td mat-cell *matCellDef="let element">{{element.ranking}}</td>
                                  </ng-container>


                                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                                <div>
                                <mat-paginator [pageSize]="5"  showFirstLastButtons></mat-paginator>
                                    </div>
                            </div>
                        </div>
                </div>

          </div>    
              <div class="col-lg-5 col-xl-4" style="margin-top:20px;">
                  <div class="card mb-4">
                      <div class="card-header bg-transparent">
                          <div class="row align-items-center">
                            <div class="col">
                              <h6 class="font-weight-bold h8 m-0">PERFIL</h6>
                              <h2 class="text-primary font-weight-bold h5 m-0">{{dadosDemograficos.nome}}</h2>
                            </div>
                            <div class="dropdown no-arrow">
                              <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" (click)="abrirDialogDemografia()">
                                <div> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Info_icon-72a7cf.svg/1200px-Info_icon-72a7cf.svg.png" alt="Bandeira Itaquaquecetuba" style="width:30px;height:30px;">
                                </div>
                              </button>
                          </div>
                          
                          </div>
                        </div>

                      <div class="card-body">
                          <div class="row" style="margin-top: 10px;">
                              <div class="col">
                                      <div class="text-uppercase text-primary font-weight-bold h8  mb-1">POPULAÇÃO (2020)</div>
                                      <div class="text-dark font-weight-bold h8 mb-0">{{dadosDemograficos.pop_20}}</div>
                              </div>
                              <div class="col">
                                  <div class="text-uppercase text-primary font-weight-bold h8  mb-1"><span>GINI (2010)</span></div>
                                  <div class="text-dark font-weight-bold h8 mb-0"><span>{{dadosDemograficos.gini_10 | number:'1.2-2' }} </span></div>
                              </div>
                          </div>

                          <hr style="width:95%;text-align:center;margin-left:5">

                          <div class="row" style="margin-top: 10px;">
                              <div class="col">
                                  <div class="text-uppercase text-primary font-weight-bold h8  mb-1"><span>PIB PER CAPITA (2013)</span></div>
                                  <div class="text-dark font-weight-bold h8  mb-0"><span>{{dadosDemograficos.pib_pc_13 | number:'1.2-2' }} </span></div>
                              </div>
                              <div class="col">
                                  <div class="text-uppercase text-primary font-weight-bold h8  mb-1"><span>TAXA DE DESEMPREGO (2010)</span></div>
                                  <div class="text-dark font-weight-bold h8 mb-0"><span>{{dadosDemograficos.desemprego_10 | number:'1.2-2' }}</span></div>
                              </div>
                          </div>
                          <hr style="width:95%;text-align:center;margin-left:5">

                          <div class="row" style="margin-top: 10px;">
                              <div class="col">
                                  <div class="text-uppercase text-primary font-weight-bold h8  mb-1"><span>RENDA MÉDIA DOMICILIAR PER CAPITA (2010)</span></div>
                                  <div class="text-dark font-weight-bold h8 mb-0"><span>{{dadosDemograficos.rendadc_10 | number:'1.2-2' }}</span></div>
                              </div>
                              <div class="col">
                                  <div class="text-uppercase text-primary font-weight-bold h8  mb-1"><span><br>RAZÃO DE RENDA (2010)</span></div>
                                  <div class="text-dark font-weight-bold h8 mb-0"><span><br>{{dadosDemograficos.razao_10 | number:'1.2-2' }}</span></div>
                              </div>
                          </div>
                          <hr style="width:95%;text-align:center;margin-left:5">

                          <div class="row" style="margin-top: 10px;">
                              <div class="col">
                                  <div class="text-uppercase text-primary font-weight-bold h8  mb-1"><span>TAXA DE ANALFABETISMO (2010)</span></div>
                                  <div class="text-dark font-weight-bold h8 mb-0"><span>{{dadosDemograficos.analfabetismo_10 | number:'1.2-2' }}</span></div>
                              </div>
                              <div class="col">
                                  <div class="text-uppercase text-primary font-weight-bold h8  mb-1"><span><br>IDH-M (2010)</span></div>
                                  <div class="text-dark font-weight-bold h8 mb-0"><span>{{dadosDemograficos.idhm_10 | number:'1.2-2' }}</span></div>
                              </div>
                          </div>
                          <hr style="width:95%;text-align:center;margin-left:5">

                          <div class="row" style="margin-top: 10px;">
                              <div class="col">
                                  <div class="text-uppercase text-primary font-weight-bold h8  mb-1"><span>ESPERANÇA DE VIDA AO NASCER (2010)</span></div>
                                  <div class="text-dark font-weight-bold h8 mb-0"><span><br>{{dadosDemograficos.evn_10| number:'1.2-2' }}</span></div>
                              </div>
                              <div class="col">
                                  <div class="text-uppercase text-primary font-weight-bold h8  mb-1"><span>PROPORÇÃO DE PESSOAS DE BAIXA RENDA (2010)</span></div>
                                  <div class="text-dark font-weight-bold h8 mb-0"><span>{{dadosDemograficos.ppbr_10| number:'1.2-2' }}</span></div>
                              </div>
                          </div>
                          <hr style="width:95%;text-align:center;margin-left:5">

                          <div class="row" style="margin-top: 10px;">
                              <div class="col">
                                  <div class="text-uppercase text-primary font-weight-bold h8  mb-1"><span>PORCENTAGEM de adolescentes de 15 a 17
                                      anos de idade que tiveram filhos (2017)<p><br></p></span></div>
                                  <div class="text-dark font-weight-bold h8 mb-0"><span>{{dadosDemograficos.p15e17f_17| number:'1.2-2' }}</span></div>
                              </div>
                              <div class="col">
                                  <div class="text-uppercase text-primary font-weight-bold h8  mb-1"><span>porcentagem da população de 25 anos ou mais de idade com ensino fundamental completo (2010)</span></div>
                                  <div class="text-dark font-weight-bold h8 mb-0"><span>{{dadosDemograficos.p25ef_10| number:'1.2-2' }}</span></div>
                              </div>
                          </div>
                          <hr style="width:95%;text-align:center;margin-left:5">
                          <div class="row" style="margin-top: 10px;">
                              <div class="col">
                                  <div class="text-uppercase text-primary font-weight-bold h8  mb-1"><span>porcentagem da população de 25 anos ou mais de idade com ensino médio completo (2010)<p></span></div>
                                  <div class="text-dark font-weight-bold h8 mb-0"><span>{{dadosDemograficos.p25em_10| number:'1.2-2' }}</span></div>
                              </div>
                              <div class="col">
                                  <div class="text-uppercase text-primary font-weight-bold h8  mb-1"><span>porcentagem da população de 25 anos ou mais de idade com ensino superior completo (2010)<p></span></div>
                                  <div class="text-dark font-weight-bold h8 mb-0"><span>{{dadosDemograficos.p25es_10| number:'1.2-2' }}</span></div>
                              </div>
                          </div>
                          <hr style="width:95%;text-align:center;margin-left:5">
                          <div class="row" style="margin-top: 10px;">
                              <div class="col">
                                  <div class="text-uppercase text-primary font-weight-bold h8  mb-1"><span>razão de dependência (2010)</span></div>
                                  <div class="text-dark font-weight-bold h8 mb-0"><span>{{dadosDemograficos.rzd_10| number:'1.2-2' }}</span></div>
                              </div>
                              <div class="col">
                                  <div class="text-uppercase text-primary font-weight-bold h8  mb-1"><span>TAXA DE TRABALHO INFANTIL (2010)</span></div>
                                  <div class="text-dark font-weight-bold h8 mb-0"><span>{{dadosDemograficos.tif_10| number:'1.2-2' }}</span></div>
                              </div>
                          </div>

                      </div>
          
                  </div>
              </div>
          </div>
    </form>   
    
  </div>

  <div>
  </div>
